/* 
    Document   : style
    Created on : Nov 3, 2013, 7:18:23 PM
    Author     : golars
    Description:
        Purpose of the stylesheet follows.
*/

* {
    margin: 0;
    padding: 0;
}
root { 
    display: block;
}
